<!DOCTYPE html>
<html lang="tr">
{% load i18n %}
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Üyeler</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'assets\css\members.css' %}">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> <img src="assets/images/logo.png"></a>
    </div>
    <div class="navbar-header navbar-end">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/images/profile.png">
        </div>
        <div class="col-md-9">
          <h4><b>{% firstof request.user.get_full_name|capfirst request.user.username  %}</b></h4>
          <span>Hesabım</span>
        </div>
      </div>
    </div>
    <div class="navbar-center">
       <form action="{% url 'user_searchPage' %}" method="get">
              <input name="q" type="text" placeholder="Arama Yap..."  >
            </form>    </div>
  </div>
</nav>

<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li>
              <a href="#">
                <img src="assets/images/home.png">
                <span class="title">Anasayfa</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/people.png">
                <span class="title">Üyeler</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/calendar.png">
                <span class="title">Takvim</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/forum.png">
                <span class="title">T3 Forum</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/book.png">
                <span class="title">Dijital Ansiklopedi</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/mentor.png">
                <span class="title">Mentor Bul</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/group.png">
                <span class="title">Gruplar</span>
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/achievement.png">
                <span class="title">Skor Tablosu</span>
              </a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-12 people-content">
                {% for group in all_groups %}
                  <div class="col-md-3">
                    <a href="/members/{{ group.id }}/" class="btn btn-default person">
                      <img src=" ../../static/assets/img/person-black.png ">
                      <h4>{{group.name}}</h4>
                    </a>
                  </div>
                    {% endfor %}
                  <div class="col-md-12" id="all-view">
                    <a href="/members/all/" class="btn btn-default">Hepsini Gör</a>
                  </div>
              </div>

          </div>

      </div>
  </div>
  <!-- /#page-content-wrapper -->

  <!-- Sidebar Right-->
  <div id="sidebar-wrapper-right">
      <ul class="sidebar-nav">
          <li>
              <a href="#">
                <img src="assets/images/add-btn.png">
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user.png">
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-1.png">
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-2.png">
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/user-3.png">
              </a>
          </li>
          <li>
              <a href="#">
                <img src="assets/images/boo.png">
              </a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->
</div>

<script src="{% static 'assets\css\members.css' %}"></script>

</body>
</html>